{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "globals": {
        "SELECT": true,
        "INSERT": true,
        "UPDATE": true,
        "DELETE": true,
        "CREATE": true,
        "DROP": true,
        "cds": true
    },
    "rules": {
        "no-console": "off",
        "require-atomic-updates": "off",
        "require-await":"warn"
    }
}
