.gen/
_out/
dist/
edmx/
gen/
mta_archives/
node_modules/
target/

.DS_Store
*.log
*.mtar
connection.properties
default-env.json
.cdsrc-private.json
packages/messageBox
reviews/msg-box
reviews/db/test.db

*.openapi3.json
*.db

!fiori-ext/node_modules/
!fiori-ext/node_modules/@capire/
!fiori-ext/node_modules/@capire/fiori/
