# CAP sflight
_out
*.db
connection.properties
default-*.json
schema.sql
gen/
node_modules/
target/
.reloadtrigger

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
/Makefile_*.mta

# Other
.DS_Store
.npmrc
*.orig
*.log

*.flattened-pom.xml

srv/src/main/resources/edmx/**
dist/
/app/resources/
/app/router/package-lock.json


# IDEs
.idea
*.iml
.project
.settings
.classpath
# .vscode/*
# IMPORTANT: Do not exclude .vscode please!
