# Ensure we always use public packages, i.e. avoid using local registries from ~/.npmrc
//npm.pkg.github.com/:_authToken=${PACKAGE_GITHUB_REGISTRY_TOKEN}
@quadrio:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org/
