# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-xml
      - id: check-added-large-files
        args: ['--maxkb=3000']
  # - repo: https://github.com/standard/standard
  #   rev: v17.0.0
  #   hooks:
  #     - id: standard
