[Unit]
Description=webhook server for ci
ConditionPathExists=/usr/bin/webhook
After=network.target
[Service]
User=ubuntu
Group=ubuntu
Type=simple
WorkingDirectory=/opt/hooks
ExecStart=/usr/bin/webhook -ip 0.0.0.0 -port 9000 -hooks /opt/hooks/hooks.json -verbose
Restart=on-failure
PrivateTmp=true
[Install]
WantedBy=default.target
