@import "~antd/dist/antd.css";

html {
  overflow: hidden;
}
#root {
  height: 100%;
}
section.ant-layout {
  height: 100vh;
  overflow: auto;
}

/* Layout
*/
.site-layout .site-layout-background {
  background: #fff;
}
