<!DOCTYPE html>
<html>

<head>
    <title> Capire Books </title>
    <link rel="stylesheet" href="https://unpkg.com/primitive-ui/dist/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        #books tr:hover { background: #f2f2f2; cursor: pointer; }
        form { float:right; display:flex; flex-direction: row-reverse }
        form #amount { width: 5em }
        .is-success { color: #0d920d }
        .has-error { color: #df1010 }
    </style>
</head>

<body class="small-container", style="margin-top: 70px;">
<div id='app'>

    <h1> Capire Books </h1>

    <input type="text" placeholder="Search..." @input="search">

    <table id='books'>
        <thead>
            <th> Book </th>
            <th> Author </th>
            <th> Genre </th>
            <th> Price </th>
        </thead>
        <tr v-for="book in list" v-bind:id="book.ID" v-on:click="inspect">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre.name }}</td>
            <td>{{ book.currency.symbol }} {{ book.price }}</td>
        </tr>
    </table>

    <div v-if="book.title">
        <img v-bind:src="book.imageSrc" alt=""/>
    </div>

    <div v-if="book.title">
        <label style="text-align:right">
            <span class="is-success"> {{ order.succeeded }} </span>
            <span class="has-error"> {{ order.failed }} </span>
            &nbsp;&nbsp; {{ book.stock }} in stock
        </label>
        <form @submit="submitOrder">
            <input type="number" id="amount" v-model="order.amount" v-bind:class="{ 'has-error': order.failed }">
            <input type="submit" value="Order:" class="muted-button">
        </form>
    </div>

    <h4> {{ book.title }} </h4>
    <p> {{ book.descr }} </p>

</div>
</body>

<script src="app.js"></script>
</html>
